@model BIWebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.DevExpress().Label(settings =>
               {
                   settings.Name = "UserEmail";
                   settings.Text = "Email";
                   settings.ControlStyle.CssClass = "col-md-2 control-label";
               }).GetHtml()
        <div class="col-md-10">
            @Html.DevExpress().TextBoxFor(model => model.Email,
                        settings =>
                        {
                            settings.Width = 220;
                            settings.Properties.ValidationSettings.RegularExpression.ValidationExpression = @"\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*";
                            settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                            settings.Properties.ValidationSettings.RequiredField.ErrorText = "Eamil is Required.";
                            settings.Properties.ValidationSettings.ErrorTextPosition = DevExpress.Web.ErrorTextPosition.Bottom;
                            settings.Properties.ValidationSettings.ErrorDisplayMode = DevExpress.Web.ErrorDisplayMode.ImageWithText;
                            settings.ControlStyle.CssClass = "form-control";
                        }).GetHtml()
        </div>
    </div>
    <div class="form-group">

        @Html.DevExpress().Label(settings =>
               {
                   settings.Name = "UserPassword";
                   settings.Text = "Password";
                   settings.ControlStyle.CssClass = "col-md-2 control-label";
               }).GetHtml()
        <div class="col-md-10">
            @Html.DevExpress().TextBoxFor(model => model.Password,
                        settings =>
                        {
                            settings.Width = 220;
                            settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                            settings.Properties.ValidationSettings.RequiredField.ErrorText = "Password is Required.";
                            settings.Properties.ValidationSettings.ErrorTextPosition = DevExpress.Web.ErrorTextPosition.Bottom;
                            settings.Properties.ValidationSettings.ErrorDisplayMode = DevExpress.Web.ErrorDisplayMode.ImageWithText;
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Properties.Password = true;
                        }).GetHtml()
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">           
            @Html.DevExpress().Button(settings =>
                    {
                        settings.Name = "Button";
                        settings.Text = "Register";
                        settings.UseSubmitBehavior = true;
                        settings.ControlStyle.CssClass = "btn btn-default";
                    }).GetHtml()
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
